{% extends 'base.html' %}

{% block title %} Detail {{product.name}} {% endblock %}



{% block content %}
<button style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin: 10px"><a href="{% url 'index' %}">Home</a></button>

<div style="margin:0px 30px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
    <h2>Your product</h2>
    <div style="margin:0px 30px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
        <p><b>Name:</b> {{product.name}}</p>
        <p><b>Description:</b> {{product.description}}</p>
        <p><b>Rent days: </b> {{product.rent_days}}</p>
        <p><b>Quality:</b> {{product.quality}}</p>
        <p><b>Brand:</b> {{product.brand}}</p>
        <p><b>Taken:</b> {{product.taken}}</p>
        <p><b>Categories:</b> 
            {% for category in categories %}
                <li>{{ category.name }} </li>
            {% endfor %}
        </p>
        <p><b>Price:</b> {{product.price}}</p>
        <button style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin: 10px"><a href="{% url 'update_product' product.id %}">Update Product</a></button>
        <button style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin: 10px"><a href="{% url 'delete_product' product.id %}">Delete Product</a></button>
    </div>
</div>

{% endblock %}