{% extends 'base.html' %}

{% block title %} Home {% endblock %}


{% block content %}
    <div class="container">



        {% if user.is_authenticated %}
            
            <h5 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 20px">Hi {{ user.username }}!</h5>
            <button style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin: 10px"><a href="{% url 'logout' %}">Log out</a></button>
            <button style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"><a href="{% url 'create_product' %}">Create</a></button>  
        <div class="row">
            {% if products%}
            <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Your Products
                    </div>
                    {% for product in products %}
                    <ul class="list-group list-group-flush">
                        <li style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; list-style:none; margin-top: 10px;"><b>Product Name:</b> {{product.name}}   <a href="product/detail/{{product.id}}"> Detail</a></li>
                    </ul>
                    {% endfor%}
                </div>
            {% endif %}

            {% if rents%}
            <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Your Rents
                    </div>
                    {% for rent in rents %}
                    <ul class="list-group list-group-flush">
                        <li style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; list-style:none; margin-top: 10px;"><b>Product Name:</b> {{rent.product.name}}   <a href="product/detail/{{product.id}}"> Detail</a></li>
                        <li style="list-style:none;">Score: {{ rent.score }}</li>
                        <li style="list-style:none;">Begin day: {{ rent.begin_day }}</li>
                        <li style="list-style:none;">End day: {{ rent.end_day }}</li>
                        <li style="list-style:none;">Comment: {{ rent.comment }}</li>
                    </ul>
                    {% endfor%}
                </div>
            {% endif %}

        {% else %}
            <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">You are not logged in!</p>
            <button style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"><a href="{% url 'login' %}">Login</a></button>  
        {% endif %}
            <div class="card" style="width: 18rem; margin-left: 20px">
                <div class="card-header">
                  Our categories
                </div>
                {% for category in categories %}
                    <h2  style="font-size: 10px;">{{ category.name }}</h2>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
    
   
{% endblock %}